[data-cid^="13720951-"] .badge-box .bdg, #user-rollover.id-13720951 .badge-box .bdg { border-radius: 5px !important; background-image: url("http://pa1.narvii.com/5807/51ea1780cd5ed337bc9d60fca127089559b7d4b5_hq.gif") !important; background-repeat: no-repeat !important; background-size: auto 30px !important; background-position: center;
}
