#chat-messages .badge-box {
  position: relative;
  overflow: hidden;
}

#chat-messages .badge-box::after, #chat-messages .badge-box:focus::after{
animation: sheen 3s 3s infinite alternate running; 
}
#chat-messages .badge-box::after {
content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-3em, 11.5em);
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
